@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.expanded {
  width: 12rem;
  padding: 0.25rem 0.5rem;
}

.linear-gradient {
  background: rgb(214, 183, 158);
  background: linear-gradient(
    180deg,
    rgba(214, 183, 158, 0) 0%,
    rgba(220, 193, 171, 1) 100%
  );
}

/* LAZY LOADING IMAGES */
.blur-load.loaded > img {
  opacity: 1;
}
.blur-load > img {
  /* opacity: 0; */
  /* transition: opacity 200ms ease-in-out; */
}
